<form
  [formGroup]="profileForm"
  (ngSubmit)="onSubmit()">

  <div>

    <label>Name</label>

    <input
      type="text"
      formControlName="name">

    <p *ngIf="profileForm.get('name')?.touched &&
              profileForm.get('name')?.invalid">
      Name is required
    </p>

  </div>

  <div>

    <label>Email</label>

    <input
      type="email"
      formControlName="email">

    <p *ngIf="profileForm.get('email')?.touched &&
              profileForm.get('email')?.hasError('email')">
      Enter a valid email
    </p>

  </div>

  <div>

    <label>Semester</label>

    <input
      type="number"
      formControlName="semester">

  </div>

  <button
    type="submit"
    [disabled]="profileForm.invalid">
    Submit
  </button>

</form>